@import url('https://fonts.googleapis.com/css?family=Bigelow+Rules&display=swap');
.App {
  text-align: center;
}
.monstersRolodex{
  font-family: 'Bigelow Rules', cursive;
  font-size: 3rem;
  color: aqua;
  display: block;
  width: auto;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

