.checkout-item-holder{
    display: grid;
    margin-top: 40px;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    position: relative;

    .image-holder{
        display: inline-block;
        border-radius: 15px;
        background: center/cover no-repeat;
        height: 280px;
        width: 60%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 4%;
    }
    .operators-and-quantity{
        display: inline-block;
        align-items: center;
        justify-content: center;
        height: 280px;
        width: 60%;
        font-size: 200%;
        text-align: center;
        padding-top: 20%;
        margin-left: 6%;
        cursor: pointer;
    }
    .item-total-price{
        display: inline-block;
        align-items: center;
        justify-content: center;
        height: 280px;
        width: 60%;
        font-size: 200%;
        text-align: center;
        padding-top: 20%;
        margin-left: 6%;
    }
    .remove-icon{
       display: inline-block;
        align-items: center;
        justify-content: center;
        height: 280px;
        width: 60%;
        font-size: 200%;
        text-align: center;
        padding-top: 20%;
        margin-left: 6%;
        cursor: pointer;
    }
}
.strip{
    display: block;
    width: 100%;
    height: 1.5px;
    background: black;
}